* {
  box-sizing: border-box;
  font-family: 'Major Mono Display', monospace;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

em {
  font-style: none;
  text-decoration: underline;
  font-weight: 700;
  padding: 20px 0 20px 0;
}

a {
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}


a:hover {
  font-weight: bold;

}

a:visited {
  color: black;
}

.container {
  text-align: center;
  width: 5000px;
  height: 5000px;
}

.banner {
  position: fixed;

  color: black;
  height: 7.5vh;
  z-index: 20;
  background-color: white;
  width: 100vw;
  text-align: center;
  padding-top: 2.5vh;
}

.footer {
  font-size: 14px;
  margin-top: 94vh;
  position: fixed;

  color: black;
  height: 6vh;
  z-index: 20;
  background-color: white;
  width: 100vw;
  text-align: center;
  padding-top: 2vh;
}


.content {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 5000px;
  height: 5000px;
  padding: 0 25vw;
  margin: 0;
}

.full-menu {
  box-sizing: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
}

.links {
  letter-spacing: 5px;
  color: #99a6ea;
  transition: 1s;
  padding: 20px 30px;
  box-shadow: inset 0 0 40px #5a6fdd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#work-main {
  padding-top: 7.5vh;
}

.work {
  height: 86vh;
  width: 50vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: #99a6ea;
  transition: 1s;
  font-size: 70px;
  text-shadow: 0 0 25px #5a6fdd;
  color: #99a6ea;
  transition: 1s;
  font-weight: bold;
  overflow: hidden;
  margin: 0 25vw;
}

.menu {
  font-size: 14px;
  margin-top: 88vh;
  margin-bottom: 6vh;
  position: fixed;
  background-color: none;
  color: black;
  height: 6vh;
  z-index: 10;
  background-color: white;
  width: 100vw;
  text-align: center;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fade {
  animation: fadein 2.5s;
}

.menu-item {
  background-color: #5a6fdd;
  height: 6vh;
  width: 23vw;
  padding-top: 1.5vh;
  transition: .5s;
}

.menu-item > a {
  color: white;
}

.menu-item:hover {
  background-color: #99a6ea;
  width: 25vw;
  transition: .5s;
}

.content {
  height: 5000px;
  width: 5000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  width: 50%;
  height: 50%;
  color: black;
}



#calvin-college {
  border: 10px solid lightblue;
  transition: 1s;
}

#paddling-com {
  border: 10px solid lightblue;
}

#special-projects {
  border: 10px solid lightblue;
}

#random {
  border: 10px solid lightblue;
}









/* animations */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
